*{
  font-family: sans-serif;
}

body {
    background-color: rgb(62, 59, 59);
}

.grid-conteiner {
    background-color: blueviolet;
    border: solid black 2.5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 250px 500px;
    height: 1000px;
    width: 95%;
    padding: 20px;
    margin: 40px;
}

.grid-item{
    border: solid black 2px;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-content: center;

}

